<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.publicPath %>assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.options.publicPath %>assets/icons/mstile-150x150.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#00EA95">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.publicPath %>assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.publicPath %>assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.publicPath %>assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./manifest.json">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
